:root{
    --Moderate-violet:         hsl(263, 55%, 52%);
    --Very-dark-grayish-blue:  hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White:                   hsl(0, 0%, 100%);
    --Light-gray:              hsl(0, 0%, 81%);
    --Light-grayish-blue:      hsl(210, 46%, 95%);
}

html{
    font-size: 62.3%;
}

body{
    font-size: 16px;  
    background-color: var(--Light-grayish-blue);
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}

.box-position{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);         
    height: auto;                    
    width:  112rem; 
}

.main-box{
    display: flex;
    flex-direction: row;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas iguales */
    gap: 20px; /* Espacio entre las celdas (puedes ajustarlo según tus necesidades) */  
}

.merged-row{
    grid-column: span 2; /* Fusiona la celda con las dos columnas siguientes */ 
}

/*Card 1*/
.box1{
    background-color: var(--Moderate-violet);
    color: var(--White);
    text-align: left;
    display: flex;
    flex-direction: column; 
    padding: 2rem; 
    font-size: 3rem;
    width: 500px;
    background-image: url("../16-testimonials-grid-section-main/images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: right 25% bottom 100%;;
}

/*Card 2*/
.box2{
    background-color: var(--Very-dark-grayish-blue);
    color: var(--White);
    text-align: left;
    display: flex;
    flex-direction: column; 
    padding: 2rem;   
    font-size: 3rem;
    width: 218px;   /*ToDo, cambiar de tamaño para hacerlo responsivo*/
}

.box2 img{
    border-radius: 50%;
    border: 2px none;
    width: 3rem;
    height: 3rem;
}

/*card 3*/
.box3{
    background-color: var(--White);
    color: var(--Very-dark-blackish-blue);
    text-align: left;
    display: flex;
    flex-direction: column; 
    padding: 2rem;   
    font-size: 3rem;
}

.data .color2 {
    color: var(--Very-dark-blackish-blue);
}

.description2{
    color: var(--Very-dark-grayish-blue);
    font-size: 2rem;
    margin-top: 1.5rem;
}

/*Card 4*/
.box4{
    background-color: var(--Very-dark-blackish-blue);
    color: var(--White);
    text-align: left;
    display: flex;
    flex-direction: column; 
    padding: 1rem;   
    font-size: 3rem;
}

/*Card 5*/
.box5{
    background-color: var(--White);
    color: var(--Very-dark-blackish-blue);
    text-align: left;
    display: flex;
    flex-direction: column; 
    padding: 2rem;   
    font-size: 3rem;
}

.box5 img{
    border-radius: 50%;  
    border: 2px none;
    width: 3rem;
    height: 3rem;   
}

/*General utilities*/
.people{
    display: flex;
    flex-direction: row;   
}

img{
    border-radius: 50%;
    border-color: var(--Moderate-violet); 
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 3rem;
    height: 3rem;
}

.photo{
    display: flex;
    align-items: center;
}

.data h2{
    text-align: left;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    color: var(--Light-gray);
}

.data h3{    
    opacity: 0.6;
    font-size: 13px;
    line-height: 2rem; 
    margin: 0 0 0 1rem;
}

p{
    opacity: 0.6;
    font-size: 13px;
    line-height: 2rem; 
}

.p2{
    opacity: 0.7;
    font-size: 13px;
    line-height: 2rem;  
}

.description{
    color: var(--White);
    font-size: 2rem;
    margin-top: 1.5rem;
}

.item2{
    border: 1px solid #ddd; /* Añade un borde para visualizar las celdas */
    padding: 20px; /* Añade un relleno para mejorar la apariencia */
    text-align: left; /* Centra el contenido */
    height: auto;
    margin-left: 20px; 
    border-radius: 1rem;
}

.item {
    border: 1px solid #ddd; /* Añade un borde para visualizar las celdas */
    padding: 30px; /* Añade un relleno para mejorar la apariencia */
    text-align: left; /* Centra el contenido */    
    border-radius: 1rem;
}

@media (max-width: 1000px) {   /*mobile 375px*/
    .grid-container{
        display: inline;
    }
    .box1,.box2,.box3,.box4{
        width: 300px;
        margin: 20px;
    }

    .main-box{
        display: inline;
    }
    
    .box5{
        width: 320px;
    }

    .box-position{

        width:  0rem;
        height: 110rem;
    }

}